{{ define "main" }}
<meta name="admverifysite" content="35278ba6fdbaec93b73cb3f91577f96a" />
<script data-cfasync="false" src="//dlrioxg1637dk.cloudfront.net/?oirld=951177"></script>
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}
<center><iframe data-aa='1942201' src='//ad.a-ads.com/1942201?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe></center>
<center><iframe data-aa='1942266' src='//ad.a-ads.com/1942266?size=300x250' style='width:300px; height:250px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
<div class="xc449bad4854773ff" data-zone="ed42180447f74e29adf36887c7ac4d82" style="width:300px;height:250px;display: inline-block;margin: 0 auto"></div></center>
{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ end }}
